/* components/Hero.module.css */
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.hero {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .introContent {
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
  }
  
  .introContent h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1;
  }
  
  .introContent h2 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-family: 'Seaweed Script', sans-serif;
    font-weight: bold;
    margin-top: -0.4em;
  }
  
  .introContent p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-top: 1rem;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .featureItem {
    display: flex;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
  
  .featureItem svg {
    margin-right: 0.5rem;
    font-size: 1.2em;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8em 1.5em;
    margin-top: 2rem;
    background: #1d73be;
    color: black;
    border: none;
    border-radius: 0.625em;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn:after {
    content: "";
    background: black;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: transform 0.5s;
  }
  
  .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
  }
  
  .imgWrapper {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    height: 40vh;
    position: relative;
    margin-top: 2rem;
    /* background-color: #1d73be; */

.imgWrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}  }
  
  @media (min-width: 768px) {
    .hero {
      flex-wrap: nowrap;
    }
  
    .introContent,
    .imgWrapper {
      width: 50%;
    }
  
    .imgWrapper {
      height: 70vh;
      margin-top: 0;
    }
  }